// Color Variables
$primary-color: #6A4E77;
$secondary-color: #DE3A99;
$text-color: #5c5c77;
$text-color-light: #A375B8;
$text-color-dark: #5B3E68;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';