{% extends 'barbillard/_partials/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>Nos Domaines | Département d'Informatique</title>
{% endblock title %}

{% block meta %}
<meta charset="UTF-8">
<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Domaines d’enseignements au du Département d’Informatique de la Faculté des Sciences de l’Université de Yaoundé I.">
<meta name="keywords" content="Département, Informatique, Université, Yaoundé, domaines, poles">
<meta name="author" content="Abdel Aziz MFOSSA">
{% endblock meta %}

{% block graph %}
<meta property="og:type" content="website">
<meta property="og:title" content="Nos Domaines | Département d'Informatique">
<meta property="og:description"
    content="Domaines d’enseignements au du Département d’Informatique de la Faculté des Sciences de l’Université de Yaoundé I.">
<meta property="og:site_name" content="Département d'Informatique">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% static 'barbillard/images/dept-info.jpg' %}">
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="450" />
<meta property="og:image:alt" content="Batiment du Department d'Informatique" />
{% endblock graph %}

{% block nav %}
	{% with titre="domaines"%}
		{% include 'barbillard/_partials/navbar.html' %}
	{% endwith %}
{% endblock nav %}

{% block content %}
<!-- page title -->
<section class="page-title-section overlay"
    data-background="{% static 'barbillard/images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-white font-secondary" href="#"> {% trans "Nos Domaines" %}</a>
                    </li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <p class="text-lighten">
                    {% trans "Voici nos differents domaines de recherche et d'enseignement au Département d'Informatique de l’Université de Yaoundé I" %}
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- research -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- recharch item -->
            {% for pole in liste_domaines %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
                    <img class="card-img-top rounded-0" src="{{pole.image.url}}" alt="{{pole.slug}}">
                    <div class="card-body">
                        <h4 class="card-title">{{pole.title}}</h4>
                        <p class="card-text">
                            {{pole.description}}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /research -->

{% endblock content %}