#header{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #033249;
    color: #ffff;
    overflow: hidden;
}
#branding h1{
    color: #DE3A99;
    font-weight: bold;
}
div.breadcrumbs{
    background: #2a6f91;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #ffff;
    text-align: left;
}
/* .login .submit-row{
    padding: 0px;
}*/
input[type="submit"],
input[type="button"],
.submit-row input{
    background: #033249;
}
.module h2,
.module caption,
.inline-group h2{
    background: #033249;
}
#content caption a{
    color: #DE3A99;
    font-weight: bold;
}